<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.sysmanager.berth.mapper.BerthMapper">

	<!-- 泊位列表查询 -->
	<!-- select b.berth_id, b.berth_number, b.berth_status, b.creater, b.create_time, b.last_updater, b.update_time  -->
	<select id="selectBerthList" resultType="com.souvi.sysmanager.berth.entity.BerthInfo">
		select * from yard_berth b
		<where>
			1 = 1
			<if test="berth_number != null and berth_number != ''">
				and b.berth_number like '%${berth_number}%'
			</if>
		</where>
	</select>
	
	<!-- 泊位号校验 -->
	<select id="checkBerthNumberIsExist" resultType="int">
		select count(*) from yard_berth where berth_number = #{berth_number}
	</select>
	
	<!-- 泊位号添加 -->
	<insert id="addBerth">
		insert into yard_berth(berth_number, berth_status, creater, create_time, last_updater, update_time)
			values(#{berth.berth_number}, #{berth.berth_status}, #{berth.creater}, #{berth.create_time}, #{berth.last_updater}, #{berth.update_time})
	</insert>
	
	<!-- 根据id查询泊位信息  -->
	<select id="getBerthInfoById" resultType="com.souvi.sysmanager.berth.entity.BerthInfo">
		select * from yard_berth where berth_id=#{berth_id}
	</select>
	
	<!-- 泊位信息修改时校验修改后的泊位名称是否重复 -->
	<select id="checkUpdateBerthNumberIsExist" resultType="int">
		select count(*) from yard_berth where berth_number = #{berth_number} and berth_id != #{berth_id}
	</select>
	
	<!-- 泊位信息修改 -->
	<update id="updateBerthInfo">
		update yard_berth set berth_number=#{berth.berth_number}, berth_status=#{berth.berth_status}, last_updater=#{berth.last_updater}, update_time=#{berth.update_time} 
		where berth_id=#{berth.berth_id}
	</update>
	
	<!-- 检查要删除的泊位是否与供应商有关联 -->
	<select id="getCountOfSupplierByBerthId" resultType="int">
		select count(*) from yard_berth_supplier_map where bid = #{berth_id}
	</select>
	
	<!-- 检查要删除的泊位是否与计划有关联 -->
	<select id="getCountOfPlanByBerthId" resultType="int">
		select count(*) from yard_plan where berth_id = #{berth_id}
	</select>
	
	<!-- 泊位信息删除 -->
	<delete id="deleteBerthInfo">
		delete from yard_berth where berth_id = #{berth_id}
	</delete>
	
</mapper>