<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.sysmanager.company.mapper.CompanyMapper">

	<!-- 添加公司 -->
	<insert id="insertCompany">
		INSERT INTO Company (CompanyId, CompanyNo,CompanyName,ProjectId,CompanyType,DataStatus,DataSources,AuditStatus
		,IsMedicalinstrumentsRight,IsColdChainService,OperationType,LockReason,Remark1,Remark2,Remark3,Remark4,Remark5,Remark6,
		Remark7,Remark8,Remark9,Remark10,CreateBy,CreateDate,LastUpdateBy,LastUpdateDate) 
		VALUES (#{company.companyId}, #{company.companyNo}, #{company.companyName},#{company.projectId},#{company.companyType},
		#{company.dataStatus},#{company.dataSources}, #{company.auditStatus} ,#{company.isMedicalinstrumentsRight},#{company.isColdChainService},
		#{company.operationType},#{company.lockReason},#{company.remark1},#{company.remark2},#{company.remark3},#{company.remark4},#{company.remark5},
		#{company.remark6},#{company.remark7},#{company.remark8},#{company.remark9},#{company.remark10},#{company.createBy},#{company.createDate},#{company.lastUpdateBy},#{company.lastUpdateDate})
	</insert>
	
	<!-- 查询公司列表 -->
	<select id="getCompanyList" resultType="com.souvi.sysmanager.company.entity.Company">
		select 
			c.CompanyId as companyId, 
			c.CompanyNo as companyNo,
			c.CompanyName as companyName,
			c.ProjectId as projectId,
			p.ProjectName as projectName,
			c.CompanyType as companyType,
			c.DataStatus as dataStatus,
			c.DataSources as dataSources,
			c.AuditStatus as auditStatus
		from Company c inner join Project p on c.ProjectId = p.ProjectId
		<where>
			 1 = 1
			<if test="company.projectName != null and company.projectName != ''">
				and p.ProjectName like '%${company.projectName}%'
			</if>
			<if test="company.companyName != null and company.companyName != ''">
				and c.CompanyName like '%${company.companyName}%'
			</if>
			<if test="company.companyType != null and company.companyType != ''">
				and c.CompanyType = '${company.companyType}'
			</if>
		</where>
		order by c.CreateDate desc
	</select>
	
	<!-- 添加公司证照关系 -->
	<insert id="insertCompanyValidateLicense">
		INSERT INTO Company_ValidateLicense (Id, CompanyId,LicenseId) VALUES 
			(#{license.id}, #{license.companyId}, #{license.licenseId})
	</insert>
	
	<!-- 删除公司证照 -->
	<delete id="deleteCompanyValidateLicense">
		delete from Company_ValidateLicense where CompanyId = #{companyId}
	</delete>
	
	<!-- 添加/编辑时验证公司类型，公司名称和项目名称 -->
	<select id="toCompanyCheck"  resultType="int">
		select count(*) from Company c inner join Project p on c.ProjectId = p.ProjectId
		where 1 = 1
		<if test="companyId != null and companyId != '' ">
			and c.CompanyId != #{companyId}  
		</if>
		<if test="projectId != null and projectId != '' ">
			and c.ProjectId = #{projectId}  
		</if>
		<if test="companyType != null and companyType != '' ">
			and c.CompanyType = #{companyType}  
		</if>
		<if test="companyName != null and companyName != '' ">
			and c.CompanyName = #{companyName}  
		</if>
	</select>
	
	<!-- 通过公司ID得到公司信息 -->
	<select id="getCompanyByID" resultType="com.souvi.sysmanager.company.entity.Company">
		select 
			c.CompanyId as companyId, 
			c.CompanyNo as companyNo,
			c.CompanyName as companyName,
			c.OperationType as operationType,
			c.ProjectId as projectId,
			c.IsMedicalinstrumentsRight as isMedicalinstrumentsRight,
			c.IsColdChainService as isColdChainService,
			c.CompanyType as companyType,
			c.DataStatus as dataStatus,
			c.DataSources as dataSources,
			c.AuditStatus as auditStatus,
			c.Remark1 as remark1
		from Company c
		where c.CompanyId = #{companyId}
	</select>
	
	<!-- 删除公司 -->
	<delete id="deleteCompany">
		delete from Company where CompanyId = #{companyId}
	</delete>
	
	<!-- 更新公司 -->
	<insert id="updateCompany">
		update Company set 
			CompanyNo = #{company.companyNo},
			CompanyName = #{company.companyName},
			ProjectId = #{company.projectId},
			CompanyType = #{company.companyType},
			DataStatus = #{company.dataStatus},
			DataSources = #{company.dataSources},
			AuditStatus = #{company.auditStatus},
			IsMedicalinstrumentsRight = #{company.isMedicalinstrumentsRight},
			IsColdChainService = #{company.isColdChainService},
			OperationType = #{company.operationType},
			Remark1 = #{company.remark1},
			LastUpdateBy = #{company.lastUpdateBy},
			LastUpdateDate = #{company.lastUpdateDate}
		where CompanyId = #{company.companyId}
	</insert>
	
	<!-- 获取公司选择的证照类型 -->
	<select id="getCompanyLicense" resultType="com.souvi.sysmanager.licenseType.entity.LicenseType">
		select 
			t.*
		from LicenseType t inner join  Company_ValidateLicense c on t.LicenseId = c.LicenseId
		where c.CompanyId = #{companyId}
	</select>
	
	<!-- 更新公司审批状态 -->
	<insert id="updateCompanyAuditStatus">
		update Company set 
			AuditStatus = #{company.auditStatus},
			LastUpdateBy = #{company.lastUpdateBy},
			LastUpdateDate = #{company.lastUpdateDate}
		where CompanyId = #{company.companyId}
	</insert>
	
	<!-- 更新公司数据状态 -->
	<insert id="updateCompanyDataStatus">
		update Company set 
			DataStatus = #{company.dataStatus},
			LastUpdateBy = #{company.lastUpdateBy},
			LastUpdateDate = #{company.lastUpdateDate}
		where CompanyId = #{company.companyId}
	</insert>
	
</mapper>