<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.sysmanager.right.mapper.rightMapper">

	<!-- 获取当前登录的用户的权限 -->
	<select id="getrightList" resultType="com.souvi.sysmanager.right.entity.Right">
		select * from Rights r 
		left join 
		Roles_Rights rr 
		on r.rightId = rr.rightId 
		left join A_Role re 
		on re.roleId = rr.roleId 
		where re.roleName = #{roleName} 
	</select>
	
	<!-- 获取所有的权限名称 -->
	<select id="getAllRightList" resultType="com.souvi.sysmanager.right.entity.Right">
		select * from Rights 
		ORDER BY parentid,orderNum
	</select>
	
	<!-- 再通过角色ID添加新的角色权限 -->
	<update id="insertRoleRight">
		update Rights set
		description = #{role.description}  
		where  roleId = #{role.roleId}
	</update>
	
	<!-- 先通过角色ID删除之前的角色权限 -->
	<delete id="deleteRightByRoleId">
		delete from Roles_Rights where roleId = #{roleId}
	</delete>
	
	<!-- 验证权限名称，权限代码是否唯一 -->
	<select id="checkRightManage" resultType="int">
	 	select count(*) from Rights
	 	<where>
			 1 = 1
			<if test="rightName != null and rightName != ''">
				and rightName = #{rightName}
			</if>
			<if test="rightCode != null and rightCode != ''">
				and rightCode = #{rightCode}
			</if>
			<if test="rightId != null and rightId != ''">
				and rightId != #{rightId}
			</if>
		</where>
	</select>
	
	<!-- 添加权限 -->
	<insert id="insertRight">
		INSERT INTO Rights 
		(rightId,rightName,rightCode,path,rightType,parentid,orderNum,rightStatus,remark) 
		VALUES 
		(#{right.rightId}, #{right.rightName}, #{right.rightCode},#{right.path},#{right.rightType},#{right.parentid},#{right.orderNum},#{right.rightStatus},#{right.remark})
	</insert>
	
	<!-- 删除权限 -->
	<delete id="deleteRight">
		delete from Rights where rightId = #{rightId}
	</delete>
	
	<!-- 通过权限ID获取权限信息 -->
	<select id="getRightInfo" resultType="com.souvi.sysmanager.right.entity.Right">
		select * from Rights where rightId = #{rightId}
	</select>
	
	<!-- 修改权限 -->
	<update id="updateRight">
		update Rights set
		rightId = #{right.rightId},
		rightName = #{right.rightName},
		rightCode = #{right.rightCode},
		path = #{right.path},
		rightType = #{right.rightType},
		parentid = #{right.parentid},
		orderNum = #{right.orderNum},
		rightStatus = #{right.rightStatus},
		remark = #{right.remark}
		where rightId = #{right.rightId}
	</update>
	
	<!-- 删除角色和权限的关联 -->
	<delete id="deleteMiddleByRightId">
		delete from Roles_Rights where rightId = #{rightId}
	</delete>
	
	<resultMap type="com.souvi.sysmanager.systemConfig.entity.LeftTree" id="tree">
	 <id property="id" column="id"/>
	 <result property="name" column="name"/>
	 <result property="pId" column="pid"/>
	 <result property="number" column="number"/>
	</resultMap>
	
	<select id="loadTree" resultMap="tree">
	 	select r.rightId id,r.rightName name,r.parentid pid,r.orderNum number
		from Rights r
	</select>
</mapper>