body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:252px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2147 {
  position:absolute;
  left:53px;
  top:41px;
  width:113px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  position:absolute;
  left:53px;
  top:110px;
  width:71px;
  height:17px;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2151 {
  position:absolute;
  left:81px;
  top:150px;
  width:43px;
  height:17px;
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2153 {
  position:absolute;
  left:79px;
  top:199px;
  width:43px;
  height:17px;
}
#u2154 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u2155 {
  position:absolute;
  left:134px;
  top:111px;
  width:118px;
  height:16px;
  color:#000000;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2157 {
  position:absolute;
  left:134px;
  top:151px;
  width:14px;
  height:16px;
  color:#000000;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2159 {
  position:absolute;
  left:134px;
  top:199px;
  width:14px;
  height:16px;
  color:#000000;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
