<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.sysmanager.basic.mapper.BasicMapper">

	<!-- 获取登录用户 -->
	<select id="getUserWithUserName" resultType="com.souvi.sysmanager.user.entity.User">
		select * from yard_user where user_name = #{user_name} and user_status = 1
	</select>
   
</mapper>