body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:685px;
  top:39px;
  width:65px;
  height:29px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1076 {
  position:absolute;
  left:37px;
  top:34px;
  width:148px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u1078 {
  position:absolute;
  left:103px;
  top:102px;
  width:130px;
  height:25px;
}
#u1078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1079 {
  position:absolute;
  left:279px;
  top:106px;
  width:57px;
  height:17px;
  text-align:center;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1081 {
  position:absolute;
  left:47px;
  top:106px;
  width:56px;
  height:17px;
  text-align:center;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1083 {
  position:absolute;
  left:37px;
  top:151px;
  width:718px;
  height:125px;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1085 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1086 {
  position:absolute;
  left:39px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1087 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1088 {
  position:absolute;
  left:139px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1089 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1090 {
  position:absolute;
  left:226px;
  top:0px;
  width:187px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1091 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1092 {
  position:absolute;
  left:413px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1093 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1094 {
  position:absolute;
  left:513px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1095 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1096 {
  position:absolute;
  left:613px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1097 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u1098 {
  position:absolute;
  left:0px;
  top:30px;
  width:39px;
  height:30px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1100 {
  position:absolute;
  left:39px;
  top:30px;
  width:100px;
  height:30px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1102 {
  position:absolute;
  left:139px;
  top:30px;
  width:87px;
  height:30px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1104 {
  position:absolute;
  left:226px;
  top:30px;
  width:187px;
  height:30px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1106 {
  position:absolute;
  left:413px;
  top:30px;
  width:100px;
  height:30px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1108 {
  position:absolute;
  left:513px;
  top:30px;
  width:100px;
  height:30px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1110 {
  position:absolute;
  left:613px;
  top:30px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#0099FF;
}
#u1111 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u1112 {
  position:absolute;
  left:0px;
  top:60px;
  width:39px;
  height:30px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1114 {
  position:absolute;
  left:39px;
  top:60px;
  width:100px;
  height:30px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1116 {
  position:absolute;
  left:139px;
  top:60px;
  width:87px;
  height:30px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1118 {
  position:absolute;
  left:226px;
  top:60px;
  width:187px;
  height:30px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1120 {
  position:absolute;
  left:413px;
  top:60px;
  width:100px;
  height:30px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1122 {
  position:absolute;
  left:513px;
  top:60px;
  width:100px;
  height:30px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1124 {
  position:absolute;
  left:613px;
  top:60px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#0099FF;
}
#u1125 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u1126 {
  position:absolute;
  left:0px;
  top:90px;
  width:39px;
  height:30px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1128 {
  position:absolute;
  left:39px;
  top:90px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#000000;
}
#u1129 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1130 {
  position:absolute;
  left:139px;
  top:90px;
  width:87px;
  height:30px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u1132 {
  position:absolute;
  left:226px;
  top:90px;
  width:187px;
  height:30px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1134 {
  position:absolute;
  left:413px;
  top:90px;
  width:100px;
  height:30px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1136 {
  position:absolute;
  left:513px;
  top:90px;
  width:100px;
  height:30px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1138 {
  position:absolute;
  left:613px;
  top:90px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#0099FF;
}
#u1139 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1140 {
  position:absolute;
  left:340px;
  top:102px;
  width:196px;
  height:25px;
}
#u1140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1140_input:disabled {
  color:grayText;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1141 {
  position:absolute;
  left:608px;
  top:102px;
  width:70px;
  height:25px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
