<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.sysmanager.user.mapper.UserMapper">

	<!-- 获取登录用户 -->
	<select id="getUserByUsernameAndPassword" resultType="com.souvi.sysmanager.user.entity.User">
		select * from yard_user where user_name = #{user_name} and password = #{password}
	</select>


    <!-- *******************************以下代码为无用代码，暂时保留供参考******************************* -->
	<resultMap type="com.souvi.sysmanager.user.entity.User" id="userRole">
		<id column="userId" property="userId" javaType="java.lang.String"/> 
		<result column="userName" property="userName" javaType="java.lang.String"/>
		<result column="cname" property="cname" javaType="java.lang.String"/>
		<result column="ename" property="ename" javaType="java.lang.String"/>
		<result column="idnum" property="idnum" javaType="java.lang.String"/>
		<result column="email" property="email" javaType="java.lang.String"/>
		<result column="status" property="status" javaType="java.lang.String"/>
		<collection property="role" ofType="com.souvi.sysmanager.role.entity.Role">
			<id column="roleId" property="roleId" javaType="java.lang.String"/>
			<result column="roleName" property="roleName" javaType="java.lang.String"/>
		</collection>
	</resultMap>
	
	<!-- 查询用户列表 -->
	<select id="getUserList" resultMap="userRole">
		select u.userId,u.userName,u.cname,u.ename,u.idnum,u.email,u.status,r.roleId,r.roleName 
		from A_User u 
		left join A_User_Role ur 
		on u.userId  =  ur.userId
		left join A_Role R 
		on ur.roleId = r.roleId
		<where>
			 1 = 1
			<if test="user.userName != null and user.userName != ''">
				and u.userName like '%${user.userName}%'
			</if>
			<if test="user.idnum != null and user.idnum != ''">
				and u.idnum like '%${user.idnum}%'
			</if>
			<if test="user.email != null and user.email != ''">
				and u.email like '%${user.email}%'
			</if>
		</where>
		and u.isDelete = #{user.isDelete}
	</select>
	
	<!-- 添加用户 -->
	<insert id="insertUser">
		INSERT INTO A_User (userId, userName,cname,ename,idnum,password,email,telephone,isDelete,status,mappingId,createBy,createDate,lastUpdateBy,lastUpdateDate) VALUES (#{dto.userId}, #{dto.userName}, #{dto.cname},#{dto.ename},#{dto.idnum},#{dto.password}, #{dto.email} ,#{dto.telephone},#{dto.isDelete},#{dto.status},#{dto.infocenterId},#{dto.createBy},#{dto.createDate},#{dto.lastUpdateBy},#{dto.lastUpdateDate})
	</insert>
	
	<!-- 通过用户ID得到用户信息 -->
	<select id="getUserByID" resultType="com.souvi.sysmanager.user.entity.User">
		select * from A_User where userId = #{userId}
	</select>
	
	<!-- 编辑用户信息 -->
	<update id="updateUser">
		update A_User set userName= #{dto.userName} ,cname= #{dto.cname} ,ename= #{dto.ename} ,idnum= #{dto.idnum} ,password= #{dto.password} ,email= #{dto.email} ,telephone= #{dto.telephone} , status= #{dto.status} ,lastUpdateBy = #{dto.lastUpdateBy},lastUpdateDate = #{dto.lastUpdateDate}  where  userId = #{dto.userId}
	</update>
	
	<!-- 删除用户 -->
	<delete id="deleteUser">
		update A_User set isDelete = #{dto.isDelete} , lastUpdateBy = #{dto.lastUpdateBy} ,lastUpdateDate = #{dto.lastUpdateDate}  where userId = #{dto.userId}
	</delete>
	
	<!-- 验证用户名唯一 -->
	<select id="checkUserName" resultType="int">
		select count(*) from A_User where userId != #{userId} and userName = #{userName}
	</select>
	
	<!-- 验证工号唯一 -->
	<select id="checkIdnum" resultType="int">
		select count(*) from A_User where userId != #{userId} and idnum = #{idnum}
	</select>
	
	<!-- 得到所有的角色 -->
	<select id="getAllRole" resultType="com.souvi.sysmanager.role.entity.Role">
		select r.*,
		case when ur.id is null then 'false' else 'true' end as selected
		from A_Role r
		left join A_User_Role ur on ur.roleId = r.roleId and ur.userId = #{userId}
		where r.roleStatus='Y'
	</select>
	
	<!-- 通过用户ID查到用户已分配的角色 -->
	<select id="getUserAssRole" resultType="com.souvi.sysmanager.role.entity.Role">
		select * from A_Role R 
		left join A_User_Role ur 
		on r.roleId = ur.roleId 
		left join A_User u 
		on ur.userId = u.userId 
		where u.userId = #{userId}
	</select>
	
	<!-- 先删除原有权限 -->
	<delete id="deleteAssignROle">
		delete from A_User_Role where userId = #{userId}
	</delete>
	
	<!-- 在添加新权限 -->
	<insert id="insertUserAssignROle">
		INSERT INTO A_User_Role (id,roleId,userId) VALUES (#{UserRoleId}, #{roleId}, #{userId})
	</insert>
	<!-- 查询登录用户 -->
	<select id="getUserOnLogin" resultType="com.souvi.sysmanager.user.entity.User">
		select top 1 * from A_User where userName = #{userName} and password = #{password}
	</select>
	<!-- 查询Infocenter用户信息 -->
	<select id="checkUser" resultType="com.souvi.sysmanager.user.entity.User">
		select userid userId,username userName,chname cname,ename,idnum
			,pwd password,hr_email email,Tel telephone,hr_status status
		from infocenter_User
		<where>
			 1 = 1
			<if test="user.userName != null and user.userName != ''">
				and userName like '%${user.userName}%'
			</if>
			<if test="user.idnum != null and user.idnum != ''">
				and idnum like '%${user.idnum}%'
			</if>
			<if test="user.email != null and user.email != ''">
				and hr_email like '%${user.email}%'
			</if>
		</where>
		and hr_status = 'NORM'
	</select>
	<!-- 查询用户是否存在 -->
	<select id="checkUserExist" resultType="String">
		select userName from A_User where mappingId = #{userId}
	</select>
	<!-- 通过用户名得到Infocenter用户信息 -->
	<select id="checkInUser" resultType="com.souvi.sysmanager.user.entity.User">
		select 
			userid infocenterId,username userName,chname cname,ename,idnum
			,pwd password,hr_email email,Tel telephone,hr_status status
		from infocenter_user
		<where>
			 1 = 1
			<if test="inId != null and inId != '' ">
				and userid = #{inId}
			</if>
		</where>
	</select>
	<!-- 查询用户是否存在资产 -->
	<select id="checkUserAsset" resultType="int">
		select count(*) from AssetManagement where uid =  #{userId}
	</select>
		<!-- 通过用户ID得到用户信息 -->
	<select id="getUserByMppingID" resultType="com.souvi.sysmanager.user.entity.User">
		select * from A_User where mappingId = #{mappingId}
	</select>
</mapper>