<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.report.productNearInvalid.mapper.ProductNearInvalidMapper">
	<!-- 查询列表 -->
	<select id="productNearInvalidList" resultType="java.util.LinkedHashMap">
			select pl.Material,pl.LicenseName,pl.ProductLicenceNo,pl.ControlPeriod,pl.RemindDate,CONVERT(VARCHAR(10),pl.ExpiredDate,23) as ExpiredDate,
			       pd.ProductName,
			       pj.ProjectName,pj.ProjectNo,
			       (datediff(day,GETDATE(),pl.ExpiredDate)+1) as Effectivedays,
			       CONVERT(VARCHAR(10),DATEADD(DAY,1,pl.ExpiredDate),23)  as Expirationdate 
			       from ProductLicense pl 
              left join Project pj on pl.ProjectId=pj.ProjectId 
              left join Product pd on pl.ProductId=pd.ProductId
              where 1=1
                 and GETDATE() &gt;= DATEADD(DAY,-(convert(int,pl.RemindDate)),pl.ExpiredDate)
	              and GETDATE() &lt;=pl.ExpiredDate
	             <if test="product.projectName != null and product.projectName != ''">
					and pj.ProjectName like  '%${product.projectName}%'
				</if>
				 <if test="product.material != null and product.material != ''">
					and pl.Material like '%${product.material}%'
				</if>
				<if test="product.licenseName != null and product.licenseName != ''">
					and pl.LicenseName like '%${product.licenseName}%'
				</if>
				<if test="product.productLicenceNo != null and product.productLicenceNo != ''">
					and pl.ProductLicenceNo like  '%${product.productLicenceNo}%'
				</if>
				<if test="product.expiredDate_Start != null and product.expiredDate_Start != ''">
					and pl.ExpiredDate &gt;=  #{product.expiredDate_Start}
				</if>
				<if test="product.expiredDate__End != null and product.expiredDate__End != ''">
					and pl.ExpiredDate &lt;=  #{product.expiredDate__End}
				</if>
	             
	</select>
</mapper>