<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.report.companyNearInvalid.mapper.CompanyNearInvalidMapper">
	<!-- 查询列表 -->
	<select id="companyNearInvalidList" resultType="java.util.LinkedHashMap">
			select cl.ControlPeriod,cl.LicenceNo,cl.LicenseName,cl.RemindDate,CONVERT(VARCHAR(10),cl.ExpiredDate,23) as ExpiredDate,
			       cp.CompanyNo,cp.CompanyName,cp.CompanyType,
			       pj.ProjectName,pj.projectNo,
			       (datediff(day,GETDATE(),cl.ExpiredDate)+1) as Effectivedays,
			       CONVERT(VARCHAR(10),DATEADD(DAY,1,cl.ExpiredDate),23)  as Expirationdate 
			       from CompanyLicense cl 
              left join Project pj on cl.ProjectId=pj.ProjectId 
              left join Company cp on cl.CompanyId=cp.CompanyId
              where 1=1
	             <if test="cle.projectName != null and cle.projectName != ''">
					and pj.ProjectName like  '%${cle.projectName}%'
				</if>
				 <if test="cle.companyName != null and cle.companyName != ''">
					and cp.CompanyName like '%${cle.companyName}%'
				</if>
				<if test="cle.licenseName != null and cle.licenseName != ''">
					and cl.LicenseName like '%${cle.licenseName}%'
				</if>			
				<if test="cle.licenceNo != null and cle.licenceNo != ''">
					and cl.LicenceNo like '%${cle.licenceNo}%'
				</if>
				<if test="cle.expiredDate_Start != null and cle.expiredDate_Start != ''">
					and cl.ExpiredDate &gt;=  #{cle.expiredDate_Start}
				</if>
				<if test="cle.expiredDate__End != null and cle.expiredDate__End != ''">
					and cl.ExpiredDate &lt;=  #{cle.expiredDate__End}
				</if>
				  and GETDATE() &gt;= DATEADD(DAY,-(convert(int,cl.RemindDate)),cl.ExpiredDate)
	              and GETDATE() &lt;=cl.ExpiredDate
				
	</select>
</mapper>