body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u916 {
  position:absolute;
  left:43px;
  top:26px;
  width:113px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u918 {
  position:absolute;
  left:43px;
  top:628px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u920 {
  position:absolute;
  left:362px;
  top:210px;
  width:67px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:300px;
  top:927px;
  width:106px;
  height:33px;
}
#u923 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u924 {
  position:absolute;
  left:43px;
  top:576px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u926 {
  position:absolute;
  left:43px;
  top:70px;
  width:63px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u928 {
  position:absolute;
  left:43px;
  top:120px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u930 {
  position:absolute;
  left:362px;
  top:71px;
  width:49px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u932 {
  position:absolute;
  left:43px;
  top:526px;
  width:91px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:2px;
}
#u934 {
  position:absolute;
  left:43px;
  top:828px;
  width:696px;
  height:1px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u936 {
  position:absolute;
  left:43px;
  top:812px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u938 {
  position:absolute;
  left:43px;
  top:847px;
  width:701px;
  height:64px;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u940 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u941 {
  position:absolute;
  left:174px;
  top:0px;
  width:174px;
  height:30px;
}
#u942 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u943 {
  position:absolute;
  left:348px;
  top:0px;
  width:174px;
  height:30px;
}
#u944 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u945 {
  position:absolute;
  left:522px;
  top:0px;
  width:174px;
  height:30px;
}
#u946 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:29px;
}
#u947 {
  position:absolute;
  left:0px;
  top:30px;
  width:174px;
  height:29px;
}
#u948 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:29px;
}
#u949 {
  position:absolute;
  left:174px;
  top:30px;
  width:174px;
  height:29px;
}
#u950 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:29px;
}
#u951 {
  position:absolute;
  left:348px;
  top:30px;
  width:174px;
  height:29px;
}
#u952 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:29px;
}
#u953 {
  position:absolute;
  left:522px;
  top:30px;
  width:174px;
  height:29px;
}
#u954 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u955 {
  position:absolute;
  left:43px;
  top:603px;
  width:192px;
  height:17px;
  font-size:13px;
  color:#000000;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u957 {
  position:absolute;
  left:43px;
  top:553px;
  width:159px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u959 {
  position:absolute;
  left:362px;
  top:232px;
  width:29px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u961 {
  position:absolute;
  left:43px;
  top:145px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u963 {
  position:absolute;
  left:362px;
  top:96px;
  width:47px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u965 {
  position:absolute;
  left:43px;
  top:95px;
  width:77px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:2px;
}
#u967 {
  position:absolute;
  left:43px;
  top:683px;
  width:696px;
  height:1px;
}
#u968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u969 {
  position:absolute;
  left:43px;
  top:667px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u971 {
  position:absolute;
  left:43px;
  top:207px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u973 {
  position:absolute;
  left:43px;
  top:232px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u975 {
  position:absolute;
  left:362px;
  top:248px;
  width:71px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u977 {
  position:absolute;
  left:43px;
  top:251px;
  width:75px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u979 {
  position:absolute;
  left:362px;
  top:288px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u981 {
  position:absolute;
  left:43px;
  top:287px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u983 {
  position:absolute;
  left:362px;
  top:328px;
  width:95px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u985 {
  position:absolute;
  left:43px;
  top:327px;
  width:71px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u987 {
  position:absolute;
  left:362px;
  top:372px;
  width:99px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u989 {
  position:absolute;
  left:43px;
  top:371px;
  width:113px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u991 {
  position:absolute;
  left:43px;
  top:493px;
  width:113px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u993 {
  position:absolute;
  left:43px;
  top:161px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u995 {
  position:absolute;
  left:362px;
  top:163px;
  width:67px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u997 {
  position:absolute;
  left:45px;
  top:181px;
  width:55px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u999 {
  position:absolute;
  left:43px;
  top:344px;
  width:53px;
  height:16px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1001 {
  position:absolute;
  left:43px;
  top:388px;
  width:27px;
  height:16px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1003 {
  position:absolute;
  left:43px;
  top:409px;
  width:119px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u1005 {
  position:absolute;
  left:362px;
  top:409px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1007 {
  position:absolute;
  left:45px;
  top:431px;
  width:14px;
  height:16px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u1009 {
  position:absolute;
  left:43px;
  top:457px;
  width:113px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1011 {
  position:absolute;
  left:43px;
  top:694px;
  width:730px;
  height:113px;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1013 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u1014 {
  position:absolute;
  left:103px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1015 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u1016 {
  position:absolute;
  left:197px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1017 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1018 {
  position:absolute;
  left:317px;
  top:0px;
  width:87px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1019 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1020 {
  position:absolute;
  left:404px;
  top:0px;
  width:91px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1021 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1022 {
  position:absolute;
  left:495px;
  top:0px;
  width:88px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1023 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u1024 {
  position:absolute;
  left:583px;
  top:0px;
  width:65px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1025 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1026 {
  position:absolute;
  left:648px;
  top:0px;
  width:77px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1027 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:36px;
  width:103px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u1029 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u1030 {
  position:absolute;
  left:103px;
  top:36px;
  width:94px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u1031 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u1032 {
  position:absolute;
  left:197px;
  top:36px;
  width:120px;
  height:36px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1034 {
  position:absolute;
  left:317px;
  top:36px;
  width:87px;
  height:36px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1036 {
  position:absolute;
  left:404px;
  top:36px;
  width:91px;
  height:36px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1038 {
  position:absolute;
  left:495px;
  top:36px;
  width:88px;
  height:36px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u1040 {
  position:absolute;
  left:583px;
  top:36px;
  width:65px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u1041 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1042 {
  position:absolute;
  left:648px;
  top:36px;
  width:77px;
  height:36px;
  font-size:12px;
  color:#0099FF;
}
#u1043 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:72px;
  width:103px;
  height:36px;
  color:#000000;
}
#u1045 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u1046 {
  position:absolute;
  left:103px;
  top:72px;
  width:94px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u1047 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u1048 {
  position:absolute;
  left:197px;
  top:72px;
  width:120px;
  height:36px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1050 {
  position:absolute;
  left:317px;
  top:72px;
  width:87px;
  height:36px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1052 {
  position:absolute;
  left:404px;
  top:72px;
  width:91px;
  height:36px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1054 {
  position:absolute;
  left:495px;
  top:72px;
  width:88px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u1055 {
  position:absolute;
  left:2px;
  top:11px;
  width:84px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u1056 {
  position:absolute;
  left:583px;
  top:72px;
  width:65px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u1057 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1058 {
  position:absolute;
  left:648px;
  top:72px;
  width:77px;
  height:36px;
  font-size:12px;
  color:#0099FF;
}
#u1059 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u1060 {
  position:absolute;
  left:362px;
  top:457px;
  width:113px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
