<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.sysmanager.supply.mapper.SupplierMapper">

	<!-- 供应商列表查询 -->
	<!-- select s.supplier_id, s.supplier_name, s.supplier_status, s.creater, s.create_time, s.last_updater, s.update_time  -->
	<select id="selectSupplierList" resultType="com.souvi.sysmanager.supply.entity.SupplierInfo">
		select * from yard_supplier s
		<where>
			1 = 1
			<if test="supplier_name != null and supplier_name != ''">
				and s.supplier_name like '%${supplier_name}%'
			</if>
		</where>
	</select>
	
	<!-- 获取供应商已经关联的泊位id集合 -->
	<select id="getMappedBerthIdList" resultType="int">
		select bid from yard_berth_supplier_map where sid = #{supplier_id}
	</select>
	
	<!-- 供应商名称校验 -->
	<select id="checkSupplierNameIsExist" resultType="int">
		select count(*) from yard_supplier where supplier_name = #{supplier_name}
	</select>
	
	<!-- 供应商添加 -->
	<insert id="addSupplier">
		insert into yard_supplier(supplier_name, supplier_status, creater, create_time, last_updater, update_time)
			values(#{supplier.supplier_name}, #{supplier.supplier_status}, #{supplier.creater}, #{supplier.create_time}, #{supplier.last_updater}, #{supplier.update_time})
	</insert>
	
	<!-- 根据id查询供应商信息 -->
	<select id="getSupplierInfoById" resultType="com.souvi.sysmanager.supply.entity.SupplierInfo">
		select * from yard_supplier where supplier_id=#{supplier_id}
	</select>
	
	<!-- 供应商信息修改时校验修改后的供应商名称是否重复 -->
	<select id="checkUpdateSupplierNameIsExist" resultType="int">
		select count(*) from yard_supplier where supplier_name = #{supplier_name} and supplier_id != #{supplier_id}
	</select>
	
	<!-- 供应商信息修改 -->
	<update id="updateSupplierInfo">
		update yard_supplier set supplier_name=#{supplier.supplier_name}, supplier_status=#{supplier.supplier_status}, last_updater=#{supplier.last_updater}, update_time=#{supplier.update_time} 
		where supplier_id=#{supplier.supplier_id}
	</update>
	
	<!-- 检查要删除的供应商是否与泊位有关联 -->
	<select id="getCountOfBerthBySupplierId" resultType="int">
		select count(*) from yard_berth_supplier_map where sid = #{supplier_id}
	</select>
	
	<!-- 检查要删除的供应商是否与计划表有关联 -->
	<select id="getCountOfPlanBySupplierId" resultType="int">
		select count(*) from yard_plan where supplier_id = #{supplier_id}
	</select>
	
	<!-- 供应商-泊位关联-获取可关联的泊位列表 -->
	<resultMap id="mapBerth" type="com.souvi.sysmanager.berth.entity.BerthInfo">
		<id column="berth_id" property="berth_id"/>
		<result column="berth_number" property="berth_number"/>
	</resultMap>
	<select id="getMapBerthes" resultMap="mapBerth">
		select berth_id, berth_number from yard_berth where berth_status = 1
	</select>
	
	<!-- 供应商信息删除 -->
	<delete id="deleteSupplierInfo">
		delete from yard_supplier where supplier_id = #{supplier_id}
	</delete>
	
	<!-- 删除供应商-泊位关联 -->
	<delete id="deleteMapWithBerthes">
		delete from yard_berth_supplier_map where sid = #{supplier_id}
	</delete>
	
	<!-- 添加供应商-泊位关联 -->
	<insert id="addMapWithBerthes">
		insert into yard_berth_supplier_map(bid, sid, creater, create_time)
			values
		<foreach collection="maplist" item="item" separator=",">
			(#{item.bid}, #{item.sid}, #{item.creater}, #{item.create_time})
		</foreach>
	</insert>
	
</mapper>