body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1062 {
  position:absolute;
  left:36px;
  top:0px;
  width:673px;
  height:46px;
}
#u1062_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:679px;
  height:52px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:51px;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
  font-size:18px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u1066 {
  position:absolute;
  left:129px;
  top:0px;
  width:129px;
  height:46px;
  font-size:18px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u1068 {
  position:absolute;
  left:258px;
  top:0px;
  width:129px;
  height:46px;
  font-size:18px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:46px;
}
#u1070 {
  position:absolute;
  left:387px;
  top:0px;
  width:183px;
  height:46px;
  font-size:18px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u1072 {
  position:absolute;
  left:570px;
  top:0px;
  width:103px;
  height:46px;
  font-size:18px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
