<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.souvi.sysmanager.systemConfig.mapper.SystemConfigMapper">

	<select id="getListByName" resultType="com.souvi.sysmanager.systemConfig.entity.SystemConfig">
		select s.* from SystemConfig s 
		where s.name = #{name} order by number asc
	</select>
	
	<select id="getById" resultType="com.souvi.sysmanager.systemConfig.entity.SystemConfig">
		select s.* from SystemConfig s 
		where s.id = #{id}
	</select>
	
	<select id="getListByParentId" resultType="com.souvi.sysmanager.systemConfig.entity.SystemConfig">
		select s.* from SystemConfig s 
		where s.parentId = #{parentId}
	</select>
	
	<select id="getByParentNumberAndName" resultType="com.souvi.sysmanager.systemConfig.entity.SystemConfig">
		select child.* from SystemConfig child inner join SystemConfig parent
		on child.parentId = parent.id 
		where child.name = #{name} and parent.id = #{number}
	</select>
	
	<update id="updateValueById">
	 update SystemConfig set value = #{config.value} where id = #{config.id}
	</update>
	
	<delete id="delConfig">
	 delete from SystemConfig where id = #{config.id} and name = #{config.name}
	</delete>
	
	<!-- 根据name属性验证config配置中是否存在该value值 -->
  <select id="toConfigCheck" resultType="com.souvi.sysmanager.systemConfig.entity.SystemConfig">
    select * from SystemConfig where name=#{name} and value=#{value} 
    <if test="parentId != null and parentId !='' ">
      and parentId= #{parentId} 
    </if>
  </select>
  
  <select id="getMaxNumber" resultType="java.lang.Integer">
    select max(number) as number from SystemConfig where name=#{name} 
    <if test="parentId != null and parentId !='' ">
      and parentId= #{parentId} 
    </if>
    group by name
  </select>
  
  <insert id="insertConfig" parameterType="com.souvi.sysmanager.systemConfig.entity.SystemConfig">
    insert into SystemConfig (id, number, name, value, remark, parentId) 
    values (#{config.id},#{config.number},#{config.name},#{config.value},#{config.remark},#{config.parentId})
  </insert>
</mapper>