<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.sysmanager.projectManage.mapper.ProjectMapper">
	
	<!-- 项目列表 -->
	<select id="getProjectList" resultType="com.souvi.sysmanager.projectManage.entity.ProjectManage">
		select * from Project
		<where>
			 1 = 1
			<if test="pm.projectName != null and pm.projectName != ''">
				and ProjectName like '%${pm.projectName}%'
			</if>
		</where>
	</select>
	<!-- 添加/编辑时验证   验证项目编号是否唯一 -->
	<select id="toProjectCheckProjectNo"  resultType="int">
		select count(*) from Project where projectNo = #{projectNo}
		<if test="projectId != null and projectId != '' ">
			and ProjectId != #{projectId}  
		</if>
	</select>
	<!-- 添加/编辑时验证   验证项目名称是否唯一 -->
	<select id="toProjectCheckProjectName"  resultType="int">
		select count(*) from Project where projectName = #{projectName}
		<if test="projectId != null and projectId != '' ">
			and ProjectId != #{projectId}  
		</if>
	</select>
	<!-- 添加项目 -->
	<insert id="addProject">
		INSERT INTO 
			Project 
		(	
			ProjectId,ProjectNo,ProjectName,ContractStartDate,ContractEndDate
			,isValidateContract,isValidateOperationtype,ContractPeriod,isChineseLabels
			,CustomerMail,BusinessScope,DataStatus
			,Remark,CreateBy,CreateDate
		) 
		VALUES 
		(
			#{pm.projectId},#{pm.projectNo},#{pm.projectName},#{pm.contractStartDate}
			,#{pm.contractEndDate},#{pm.isValidateContract},#{pm.isValidateOperationtype}
			,#{pm.contractPeriod},#{pm.isChineseLabels},#{pm.customerMail},#{pm.businessScope}
			,#{pm.dataStatus},#{pm.remark},#{pm.createBy},#{pm.createDate}
		)
	</insert>
	<!-- 去修改页面 -->
	<select id="getProjectByID" resultType="com.souvi.sysmanager.projectManage.entity.ProjectManage">
		select * from Project where ProjectId = #{projectId}
	</select>
	<!-- 得到项目修改前的合同开始时间 -->
	<select id="getStartDate" resultType="String">
		select ContractStartDate from Project where ProjectId = #{projectId}
	</select>
	<!-- 得到项目修改前的合同结束时间 -->
	<select id="getEndDate" resultType="String">
		select ContractEndDate from Project where ProjectId = #{projectId}
	</select>
	<!-- 修改项目数据 -->
	<update id="updateProject">
		update 
			Project 
		set 
			ProjectNo = #{pm.projectNo},ProjectName = #{pm.projectName}
			,ContractStartDate = #{pm.contractStartDate},ContractEndDate = #{pm.contractEndDate}
			,isValidateContract = #{pm.isValidateContract},isValidateOperationtype = #{pm.isValidateOperationtype}
			,ContractPeriod = #{pm.contractPeriod},isChineseLabels = #{pm.isChineseLabels}
			,CustomerMail = #{pm.customerMail},BusinessScope = #{pm.businessScope}
			,Remark = #{pm.remark},LastUpdateBy = #{pm.lastUpdateBy},LastUpdateDate = #{pm.lastUpdateDate}
		where 
		ProjectId = #{pm.projectId}
	</update>
	<!-- 删除项目数据 -->
	<delete id="deleteProject">
		delete from Project where ProjectId = #{projectId}
	</delete>
	<!-- 添加修改日志 -->
	<insert id="updateReasonLog">
		INSERT INTO 
			UpdateLog 
		(	
			UpdateId,ForeignId,FieldName,OldValue,NewValue
			,UpdateReason,UpdatePersion,UpdateDate
		) 
		VALUES 
		(
			#{updateLog.updateId},#{updateLog.foreignId},#{updateLog.fieldName},#{updateLog.oldValue}
			,#{updateLog.newValue},#{updateLog.updateReason},#{updateLog.updatePersion}
			,#{updateLog.updateDate}
		)
	</insert>
	<!-- 更改项目的状态 -->
	<update id="updateStatus">
		update 
			Project 
		set 
			DataStatus = #{dataStatus}
		where 
		ProjectId = #{projectId}
	</update>
	<!-- 查看项目的日志 -->
	<select id="getUpdateLog" resultType="com.souvi.sysmanager.projectManage.entity.UpdateLog">
		select * from UpdateLog where ForeignId = #{projectId} order by UpdateDate desc
	</select>
</mapper>