<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.souvi.sysmanager.plan.mapper.PlanMapper">

	<!-- 查询供应商-泊位及泊位状态关联列表 -->
	<select id="getSupplierBerthMapList" resultType="com.souvi.sysmanager.plan.entity.SupplierBerthMapInfo">
		select t1.sid, t1.bid, t2.berth_number, t3.supplier_name 
			from yard_berth_supplier_map t1, yard_berth t2, yard_supplier t3
		<where>
			t1.sid = t3.supplier_id and t1.bid = t2.berth_id
			and t2.berth_status = 1 and t3.supplier_status = 1
			<if test="supplier_name != null and supplier_name != ''">
				and t3.supplier_name like '%${supplier_name}%'
			</if>
		</where>
	</select>
	
	<!-- 按日期获取计划数 -->
	<select id="getPlanCountByDate" resultType="int">
		select COUNT(*) from yard_plan p where CONVERT(varchar(100), p.plan_date, 23) = #{date}
	</select>
	
	<!-- 按日期获取计划执行时间间隔 -->
	<select id="getTimeLengthOfPlan" resultType="com.souvi.sysmanager.plan.entity.PlanTimeLength">
		select time_length from yard_plan_timelength where date = #{date}
	</select>
	
	<!-- 新增计划执行时间间隔设置 -->
	<insert id="addPlanTimeLength">
		insert into yard_plan_timelength(date, time_length, creater, create_time, last_updater, update_time)
			values(#{time_length.date}, #{time_length.time_length}, #{time_length.creater}, #{time_length.create_time}, #{time_length.last_updater}, #{time_length.update_time})
	</insert>
	
	<!-- 修改计划时间间隔 -->
	<update id="updatePlanTimeLength">
		update yard_plan_timelength 
			set time_length = #{time_length.time_length}, last_updater = #{time_length.last_updater}, update_time = #{time_length.update_time}
		where date = #{time_length.date}
	</update>
	
	<!-- 获取泊位状态 -->
	<select id="getBerthStatus" resultType="int">
		select berth_status from yard_berth where berth_id = #{berth_id}
	</select>
	
	<!-- 按日期获取最大排序号的计划 -->
	<select id="getMaxSortNumberPlan" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select top 1 
				*
			from yard_plan where plan_date = #{date} order by sort_number desc
	</select>
	
	<!-- 按日期获取最后完成的计划 -->
	<select id="getLastCompletedPlan" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select top 1
				*
			from yard_plan where plan_date = #{date} and plan_endtime is not null
			order by plan_endtime desc
	</select>
	
	<!-- 按时间段获取计划列表 -->
	<select id="getPlanListOfTimeLength" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select * from yard_plan 
		where plan_type = 2 and plan_starttime between #{query_startTime} and #{query_endTime}
		order by plan_starttime
	</select>
	
	<!-- 获取启用的供应商列表 -->
	<select id="getEnableSupplierInfo" resultType="com.souvi.sysmanager.supply.entity.SupplierInfo">
		select supplier_id, supplier_name from yard_supplier where supplier_status = 1
	</select>
	
	<!-- 获取供应商关联的启用泊位列表 -->
	<select id="getBerthListOfSupplier" resultType="com.souvi.sysmanager.berth.entity.BerthInfo">
		select b.berth_id, b.berth_number 
		from yard_berth_supplier_map bs, yard_berth b, yard_supplier s
		where bs.bid = b.berth_id and bs.sid = s.supplier_id
		and b.berth_status = 1 and s.supplier_id = #{supplier_id}
	</select>
	
	<!-- 获取预定 或 追加计划列表 -->
	<select id="getPlanListByType" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select * from yard_plan 
		where plan_date = #{plan_date} and plan_type = #{plan_type} and plan_starttime >= #{plan_starttime}
		order by plan_starttime
	</select>
	
	<!-- 泊位计划添加 -->
	<insert id="addPlan">
		insert into yard_plan(item_number, item_name, item_type, vans_type, vans_description, box_count, plan_date, plan_starttime, 
							  start_time, supplier_id, berth_id, sort_number, plate_number, driver_contact, waiting_berth_number, 
							  waiting_berth_starttime, description, creater, create_time, last_updater, update_time, plan_type)
			values(#{plan.item_number}, #{plan.item_name}, #{plan.item_type}, #{plan.vans_type}, #{plan.vans_description}, #{plan.box_count}, 
			       #{plan.plan_date}, #{plan.plan_starttime}, #{plan.start_time}, #{plan.supplier_id}, #{plan.berth_id}, #{plan.sort_number}, 
			       #{plan.plate_number}, #{plan.driver_contact}, #{plan.waiting_berth_number}, #{plan.waiting_berth_starttime}, #{plan.description}, 
			       #{plan.creater}, #{plan.create_time}, #{plan.last_updater}, #{plan.update_time}, #{plan.plan_type})
	</insert>
	
<!-- 	<insert id="addPlan">
		insert into yard_plan(item_number, item_name, item_type, vans_type, vans_description, box_count, plan_date, plan_starttime, 
							  start_time, end_time, float_time, plan_endtime, supplier_id, berth_id, sort_number, plate_number,
							  driver_contact, waiting_berth_number, waiting_berth_starttime, waiting_berth_endtime, description,
							  creater, create_time)
			values(#{plan.item_number}, #{plan.item_name}, #{plan.item_type}, #{plan.vans_type}, #{plan.vans_description}, #{plan.box_count}, 
			       #{plan.plan_date}, #{plan.plan_starttime}, #{plan.start_time}, #{plan.end_time}, #{plan.float_time}, #{plan.plan_endtime}, 
			       #{plan.supplier_id}, #{plan.berth_id}, #{plan.sort_number}, #{plan.plate_number}, #{plan.driver_contact}, #{plan.waiting_berth_number}, 
			       #{plan.waiting_berth_starttime}, #{plan.waiting_berth_endtime}, #{plan.description}, #{plan.creater}, #{plan.create_time})
	</insert> -->
	
	<!-- 获取最后一个已完成计划的主键id -->
	<select id="getLastCompletedPlanId" resultType="int">
		select top 1 plan_id 
		from yard_plan where plan_date = #{plan_date} 
		order by plan_starttime desc
	</select>
	
	<!-- 获取某个排序号之后的所有追加计划 -->
	<select id="getAddedPlanList" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select * from yard_plan where plan_type = 1 and plan_date = #{plan_date} and sort_number >= #{sort_number}
	</select>
	
	<!-- 批量修改计划开始时间 -->
	<update id="updatePlanStartTime">
		<foreach collection="plan_list" item="plan" separator=",">
			update yard_plan set plan_starttime = #{plan.plan_starttime} where plan_id = #{plan.plan_id}
		</foreach>
	</update>
	
	<!-- 计划修改-获取要修改的计划信息 -->
	<select id="getUpdatePlanInfo" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select (case isnull(plan_endtime, 0) when 0 then 0 else 1 end) plan_status, p.*, s.supplier_name, b.berth_number
		from yard_plan p, yard_supplier s, yard_berth b 
		where p.supplier_id = s.supplier_id and p.berth_id = b.berth_id 
		and p.plan_id = #{plan_id}
	</select>
	
	<!-- 获取泊位关联的可用供应商列表 -->
	<select id="getSupplierListOfBerth" resultType="com.souvi.sysmanager.supply.entity.SupplierInfo">
		select s.supplier_id, s.supplier_name 
		from yard_berth_supplier_map bs, yard_supplier s
		where bs.sid = s.supplier_id
		and s.supplier_status = 1
		and bs.bid = #{berth_id}
	</select>
	
	<!-- 获取修改的计划之后的计划plan_id集合 -->
	<select id="getPlanIdList" resultType="int">
		select plan_id from yard_plan where plan_starttime > #{plan_starttime} and plan_date = #{plan_date}
	</select>
	
	<!-- 将修改计划之后的当天后续计划的开始时间追加一个时间间隔 -->
	<update id="reSetPlanStartTimeInPlanIds">
		update yard_plan set plan_starttime = DATEADD(MS, #{time_interval}, plan_starttime)
		where plan_id in
		<foreach collection="plan_idList" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</update>
	
	<!-- 计划修改 -->
	<update id="updateBerthPlan">
		update yard_plan set
		<if test="plan.waiting_berth_number != null and plan.waiting_berth_number != ''">
			waiting_berth_number = #{plan.waiting_berth_number}
		</if>
		<if test="plan.plate_number != null and plan.plate_number != ''">
			plate_number = #{plan.plate_number}
		</if>
		<if test="plan.float_time > 0">
			float_time = #{plan.float_time}
		</if>
		<if test="plan.description != null and plan.description != ''">
			description = #{plan.description}
		</if>
		<if test="plan.supplier_id > 0">
			supplier_id = #{plan.supplier_id}
		</if>
		<if test="plan.start_time != null and plan.start_time != ''">
			start_time = #{plan.start_time}
		</if>
		<if test="plan.end_time != null and plan.end_time != ''">
			end_time = #{plan.end_time}
		</if>
		<if test="plan.plan_endtime != null and plan.plan_endtime != ''">
			plan_endtime = #{plan.plan_endtime}
		</if>
		where plan_id = #{plan.plan_id}
	</update>
	
	<!-- 计划删除 -->
	<delete id="deleteBerthPlan">
		delete from yard_plan where plan_id = #{plan_id}
	</delete>
	
	<!-- 按顺序查询计划表中的泊位id集合 -->
	<select id="getberthIdListOfPlan" resultType="string">
		select distinct(p.berth_id)
		from yard_plan p, yard_berth b, yard_supplier s 
		where p.berth_id = b.berth_id and p.supplier_id = s.supplier_id
		and p.plan_date = #{date}
		<if test="supplier_name != null and supplier_name != ''">
			and s.supplier_name like '%${supplier_name}%'
		</if>
		<if test="berth_number != null and berth_number != ''">
			and b.berth_number like '%${berth_number}%'
		</if>
		order by p.berth_id
	</select>
	
	<!-- 获取泊位下的计划list -->
	<select id="getPlanListByBerthId" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select (case isnull(plan_endtime, 0) when 0 then 0 else 1 end) plan_status, p.*
		from yard_plan p, yard_supplier s 
		where p.supplier_id = s.supplier_id and p.plan_date = #{date}
		<if test="berth_id != null and berth_id != ''">
			and p.berth_id = #{berth_id}
		</if>
		<if test="supplier_name != null and supplier_name != ''">
			and s.supplier_name like '%${supplier_name}%'
		</if>
		order by p.berth_id, p.plan_starttime
	</select>
	
	<!-- 获取泊位当前未完成计划信息 -->
	<select id="getBerthPlanDetails" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select top 1
			b.berth_number, p.sort_number, p.plate_number, p.plan_starttime, p.start_time
		from yard_plan p, yard_berth b where p.berth_id = b.berth_id
		and p.berth_id = #{berth_id} 
		and p.plan_date = #{date}
		and p.end_time is null 
		order by p.plan_starttime desc
	</select>
	
	<!-- 获取泊位总计划数 -->
	<select id="getTotalPlanCountOfBerth" resultType="int">
		select count(*) from yard_plan where plan_date = #{date} and berth_id = #{berth_id}
	</select>
	
	<!-- 获取泊位已完成计划数 -->
	<select id="getCompletedPlanCountOfBerth" resultType="int">
		select count(*) from yard_plan where plan_date = #{date} and berth_id = #{berth_id} and plan_endtime is not null
	</select>
	
	<!-- 获取计划详情 -->
	<select id="getPlanDetails" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select (case isnull(plan_endtime, 0) when 0 then 0 else 1 end) plan_status, b.berth_id, b.berth_number, p.waiting_berth_number, 
				p.plan_starttime, plan_endtime, p.sort_number, p.plate_number, start_time, end_time, p.plan_date
		from yard_plan p, yard_berth b
		where p.berth_id = b.berth_id
		and p.plan_id = #{plan_id}
	</select>
	
	<!-- 查询已经完成的历史计划信息 -->
	<select id="selectHistoryPlan" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select p.plan_starttime, p.start_time, p.end_time, p.plan_endtime, p.plan_date,
			   s.supplier_name, p.sort_number, b.berth_number, p.waiting_berth_number, p.plate_number
		from yard_plan p, yard_berth b, yard_supplier s 
		where p.berth_id = b.berth_id and p.supplier_id = s.supplier_id
		<if test="query_start_time != null and query_start_time != ''">
			and p.plan_starttime >= #{query_start_time}
		</if>
		<if test="query_end_time != null and query_end_time != ''">
			<![CDATA[and p.plan_starttime <= #{query_end_time}]]>
		</if>
		<if test="berth_number != null and berth_number != ''">
			and b.berth_number = #{berth_number}
		</if>
		<if test="plate_number != null and plate_number != ''">
			and p.plate_number = #{plate_number}
		</if>
		<if test="sort_number > 0">
			and p.sort_number = #{sort_number}
		</if>
		and p.plan_endtime is not null
		order by p.plan_starttime
	</select>
	
	<!-- 按日期查询车辆计划  -->
	<select id="selectCarPlanOfDate" resultType="com.souvi.sysmanager.plan.entity.PlanInfo">
		select p.plan_starttime, p.start_time, p.end_time, p.plan_endtime, p.plan_date,
			   s.supplier_name, p.sort_number, b.berth_number, p.waiting_berth_number, p.plate_number
		from yard_plan p, yard_berth b, yard_supplier s 
		where p.berth_id = b.berth_id and p.supplier_id = s.supplier_id
		and p.plate_number = #{plate_number}
		and p.plan_date = #{plan_date}
		order by p.plan_starttime
	</select>
	
</mapper>