		 #cumin-dialog-cover{
			top:0;
			text-align:center; 
			z-index: 99;  
			position:absolute;
			width:100%;
			height:100%;
			background-color:rgba(10,15,20,0.85);
			display:none;
		 }
	
		 .cumin-dialog-window{
			position:absolute;
			top:30%;
			left:50%;
			transform:translate(-50%,-50%);
			display:none;
			background-color:white;
			padding:12px;
		 }
		 		 
		 .cumin-dialog-window div{
			position:relative;
			margin-bottom:4px;
			left:50%;
			transform:translateX(-50%);			
		 }
		 
		 .cumin-dialog-window input{
			padding:4px;
			font-size:20px;
			margin-left:10px;
			border: 1px solid #ccc;
			border-radius: 4px;
		 }
		 .cumin-dialog-window biv{
			display:block;
		 }
		 .cumin-dialog-window spaceline{
			display:block;
			height:10px;
		 }
		 .cumin-dialog-window-two{
			text-align:center;
			width:50%;
			float:left;
		 }
		 .cumin-dialog-window-three{
			text-align:center;
			width:30%;
			float:left;
		 }
		 .cumin-dialog-window-four{
			text-align:center;
			width:25%;
			float:left;
		 }
		 .cumin-dialog-window-close{
		 }
		 
